.ftext {
  color: rgb(167, 167, 167);
}

.citIn {
  background-color: #30333d;
}
.clos {
  margin-right: 0px;
  margin-left: 94%;
  margin-top: 2%;
  color: white;
}
.clos:hover {
  color: black;
  cursor: none;
}
.fooot {
  height: 70px;
  justify-content: center;
  align-items: center;
  background-color: #30333d;
}

.cs:hover {
  cursor: pointer;
}

.btnColorChange {
  background-color: rgb(98, 23, 168);
  font-weight: bold;
  color: azure;
}
.dtext {
  font-size: x-small;
}

.back {
  background-image: url("assets/img/backdash.png");

  background-repeat: no-repeat;

  background-size: contain;

  background-color: #1f2127;
}
